.grid{
  width:405px;
}
.cell{
  width: 33px;
  height: 33px;
  margin: 2px;
  text-align: center;
  background-color:#d93939;
  font-size:1rem;
  font-weight:600;
}
@media only screen and (max-width: 600px) {
.grid{
  width:358px;
}
.cell{
  width: 27px;
  height: 27px;
/*   margin: 2px; */
/*   text-align: center;
  background-color:#d93939;
  font-size:1rem;
  font-weight:600; */
}
}
